/* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  /* font-size: 62.5%;  */
  font-size: 16px;
}

html,
body {
  height: 80%;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 2rem;
}
.nav-brand-custom {
  font-size: 2.4em;
}

.nav-items-custom {
  font-size: 1.4em;
  color: red;
}

.about {
  min-height: 83vh;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
