.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end  ;
  align-items: center;
  border-radius: 4px;
  background-color:#78c2ad;
}

.navbar__link {
  margin: 1em;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border-bottom: 3px solid transparent;
}

.navbar__link:hover {
  text-decoration: none;
  transform: translateY(-1px);
}

.navbar__link--active {
  color:  #23395d;
  border-bottom: 2.5px solid ;
  transition: border-bottom .5s ease-in-out;
}

.logo {
  order: 0;
}