body {
  background-color: rgb(241, 235, 235);
}

input:valid {
  border: 2px solid rgb(6, 124, 51);
}

/* Modify the background color */
.navbar-custom {
  background-color: lightgreen;
}

.bg-primary {
  background-color: lightgreen;
}


.color-nav {
  background-color: lightgreen;
}

/* Modify brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}

.notification {
  background-color: rgb(238, 170, 170);
  color: white;
  text-decoration: none;
  padding: 3px 7px;
  position: relative;
  display: inline-block;
  border-radius: 4px;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 5px;
  border-radius: 50%;
  color: white;
}
