body {
	color: lightcoral;
	font-size: 22px;
	width: 90%;
	margin-left: 5%;
	font-family: Roboto, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar-custom {
	background: linear-gradient(-90deg, #84cf6a, #16c0b0);
}

.navbar-logo {
	font-weight: 300;
	font-size: 1.8em;
	margin-top: 0.35em;
	margin-bottom: 0.35em;
	margin-left: 1em;
	margin-right: 1em;
	color: white;
	text-decoration: none;
}

.navbar-item {
	color: black;
	text-decoration: none;
	margin-left: 0em;
	margin-right: 1.5em;
}
